    <h2 class="main-title-w3layouts mb-2 text-center">Hàng ngày</h2>
            <div class="widget-body p-14">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2356</td>
                            <td>dummy text </td>
                            <td>6,200.00</td>
                        </tr>
                        <tr>
                            <td>4589</td>
                            <td>Lorem Ipsum</td>
                            <td>6,500.00</td>
                        </tr>
                        <tr>
                            <td>3269</td>
                            <td>specimen book</td>
                            <td>6,800.00</td>
                        </tr>
                        <tr>
                            <td>5126</td>
                            <td>Letraset sheets</td>
                            <td>7,200.00</td>
                        </tr>
                        <tr>
                            <td>7425</td>
                            <td>PageMaker</td>
                            <td>5,900.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <br>
            <h2 class="main-title-w3layouts mb-2 text-center">Hàng tuần</h2>
            <div class="widget-body p-14">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>tên</th>
                            <th>giá</th>
                            <th>số lượng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2356</td>
                            <td>dummy text </td>
                            <td>6,200.00</td>
                        </tr>
                        <tr>
                            <td>4589</td>
                            <td>Lorem Ipsum</td>
                            <td>6,500.00</td>
                        </tr>

                        <tr>
                            <td>3269</td>
                            <td>specimen book</td>
                            <td>6,800.00</td>
                        </tr>
                        <tr>
                            <td>5126</td>
                            <td>Letraset sheets</td>
                            <td>7,200.00</td>
                        </tr>
                        <tr>
                            <td>7425</td>
                            <td>PageMaker</td>
                            <td>5,900.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>