  <div class="outer-w3-agile col-xl mt-3">
                         <h4 class="tittle-w3-agileits mb-4">Quản lý đơn hàng</h4>
                         <div class="stats-info stats-body">
                             <ul class="list-unstyled">
                                 <li class="pb-3">Đã giao
                                     <span class="float-right">85%</span>
                                     <div class="progress progress-striped active progress-right">
                                         <div class="bar green" style="width:85%;"></div>
                                     </div>
                                 </li>
                                 <li class="py-md-4 py-3">Chưa giao
                                     <span class="float-right">35%</span>
                                     <div class="progress progress-striped active progress-right">
                                         <div class="bar yellow" style="width:35%;"></div>
                                     </div>
                                 </li>
                                 <li class="py-md-4 py-3">Đang giao
                                     <span class="float-right">78%</span>
                                     <div class="progress progress-striped active progress-right">
                                         <div class="bar red" style="width:78%;"></div>
                                     </div>
                                 </li>

                             </ul>
                           </div>
            </div>

            <!--// main-heading -->

            <!-- Pricing tables1 -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="paragraph-agileits-w3layouts">Woohoo, you're reading this text in a modal!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>