    <div class="outer-w3-agile col-xl ml-xl-3 mt-xl-0 mt-3 report">
                 <h4 class="tittle-w3-agileits mb-4">Top 10 sản phẩm bán chạy nhất</h4>
                 <div class="widget widget-report-w3-table">
                     <div class="widget-body p-14">
                         <table class="table table-bordered">
                             <thead>
                                 <tr>
                                     <th>ID</th>
                                     <th>Name</th>
                                     <th>Prize</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>1</td>
                                     <td>cà phê </td>
                                     <td>15,000</td>
                                 </tr>
                                 <tr>
                                     <td>2</td>
                                     <td>sữa tươi</td>
                                     <td>6,500</td>
                                 </tr>

                                 <tr>
                                     <td>3</td>
                                     <td>khăn giấy</td>
                                     <td>3,000</td>
                                 </tr>
                                 <tr>
                                     <td>4</td>
                                     <td>Mì gói</td>
                                     <td>4,500</td>
                                 </tr>
                                 <tr>
                                     <td>5</td>
                                     <td>Sữa tắm</td>
                                     <td>40,000</td>
                                 </tr>
                                 <tr>
                                     <td>6</td>
                                     <td>Coca cola</td>
                                     <td>7,000</td>
                                 </tr>
                                 <tr>
                                     <td>7</td>
                                     <td>Pepsi</td>
                                     <td>6,000</td>
                                 </tr>
                                 <tr>
                                     <td>8</td>
                                     <td>Bánh mì</td>
                                     <td>8,000</td>
                                 </tr>
                                 <tr>
                                     <td>9</td>
                                     <td>Dầu gội đầu</td>
                                     <td>2,000</td>
                                 </tr>
                                 <tr>
                                     <td>10</td>
                                     <td>Sữa chua</td>
                                     <td>9,000</td>
                                 </tr>

                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>